<div class="post-container">
        <button data-toggle="collapse" data-target="#demo">Collapsible</button>

        <div id="demo" class="collapse">
            butt
            </div>
        
    {% for post in site.posts %}
      <center><div class="row">
            <div class="column column-100">
                <div class="preview-panel">
                    <a href="{{ post.url | site.baseurl }}#panel">
                        {{post.chapter}}.{{post.page}}
                    </a>
               </div>
            </div>
        </div></center>
    {% endfor %}
    {% cycle 'end row' : '', '</div>', '</div>' %}

    </div>

    