<div class="archive-container">
        <!-- <button id="page-expander{{post.chapter}}" data-toggle="collapse" data-target=".chapter{{post.chapter}}">Collapsible</button>

        <div id="2" class="collapse">
            butt
            </div> -->


            <div class="row">
                    <div class="column" id="chapter-column">

                    </div>
                    <div class="column" id="page-column1">

                    </div>
                    <div class="column" id="page-column2">

                        </div>
            </div>
    {% assign oldChapter = "1" %}
    {% for post in site.posts %}
    <!-- <center>
        <div class="collapse chapter{{post.chapter}}"><a href="{{ post.url | site.baseurl }}#panel">.{{post.page}}</a></div>
    </center> -->
    <script>
        pageExpander = document.getElementById("page-expander{{post.chapter}}");
        if(pageExpander == undefined)
        {
            pageExpander = document.createElement('a');
            pageExpander.id = "page-expander{{post.chapter}}";
            pageExpander.setAttribute("data-toggle", "collapse");
            pageExpander.setAttribute("data-target", ".chapter{{post.chapter}}");
            pageExpander.href = "#";
            pageExpander.innerHTML = "Chapter {{ post.chapter }}";
            document.getElementById("chapter-column").appendChild(pageExpander);
        };
        
        pageCollapse = document.createElement("div");
        pageCollapse.className = "collapse chapter{{post.chapter}}";
        pageLink = document.createElement("a");
        pageLink.innerHTML = "{{post.page}}";
        pageLink.href = "{{ post.url | site.baseurl }}#panel";
        pageCollapse.appendChild(pageLink);
        document.getElementById("page-column{{post.chapter}}").appendChild(pageCollapse);

    </script>
    {% endfor %}

</div>

    