<header class="site-header" style="z-index: 10000;">
  <div id="TOP" class="pagemarker"></div>
  
  <a class="site-title" href="{{ site.baseurl }}/"><img src="{{site.baseurl}}{% link resources/header.gif %}"></a>
    
  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">comic</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/archive">archive</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/contributors/">contributors</a></li>
      <li class="nav-item"><a href="https://lemjeb.tumblr.com" target="_blank">blog</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/game/game.html">game</a></li>
      <li class="nav-item"><a href="https://www.redbubble.com/people/genusovis" target="_blank">store</a></li>
    </ul>
  </nav>

</header>
