

<div class="post-container">
{% for post in site.posts %}
  <div class="row">
        <div class="column column-100">
            <div class="preview-panel">
                <div id="{{ post.chapter }}-{{ post.page }}" class="pagemarker"></div>
                <a href="{{ post.url | prepend: site.baseurl }}#panel">
                    <img class="img-responsive" src="resources/chapters/{{ post.imgurl | prepend: site.baseurl }}" width="100%" height="100%">
                </a>
           </div>
        </div>
    </div>
{% endfor %}
{% cycle 'end row' : '', '</div>', '</div>' %}
</div>

<script>
    var markers = document.getElementsByClassName("pagemarker");
    for(var i = 0; i < markers.length; i++)
    {
        var li = document.createElement('li');
        var a = document.createElement('a');
        var linkText = document.createTextNode(markers[i].id);
        a.appendChild(linkText);
        a.title = markers[i].id;
        a.href = "#"+markers[i].id;
        a.className = markers[i].id;
        a.style.cssFloat = "right";
        a.style.clear = "both";
        a.style.color = "white";
        li.id = "marker"+markers[i].id;
        // a.onclick = function(id)
        // {   
        //     $('html, body').animate({
        //         scrollTop: $(id).offset().top
        //     }, 500);
        // }.bind(self, "#"+markers[i].id)
        li.appendChild(a);
        document.getElementById("toc-list").appendChild(li);
    }
</script>

