<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  {% include head.html %}
  <body data-spy="scroll" data-target="#toc" data-offset="150">
    
      <main class="wrapper">

        <div class = "container-fluid">
          <nav class="col-sm-3" id="toc" style="overflow-y:scroll; max-height: 50%; max-width: 10%; position:fixed; z-index: 9999; top:20%; bottom:20%;">
              <ul class="nav flex-column" data-spy="affix" id="toc-list">
              </ul>
          </nav>
        </div>

      {% include header.html %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


      <div class="container">
        {{ content }}
        <script>
            $('[data-spy="scroll"]').on('activate.bs.scrollspy', function (ev) {
              var myElement = document.getElementById(ev.target.id);
              var topPos = myElement.offsetTop;
              document.getElementById('toc-list').scrollTop = topPos;
              console.log("BLOP!");
            })
        </script>
        {% include footer.html %}
      </div>


    </main>
    
  </body>

</html>
